* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
}
.profile-card {
    width: 600px;
    height: auto;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}
.card-header {
    background: #002E3F;
    padding: 40px 70px;
}
.picture {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #fe793d, #fbc6d0);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;   
}
@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
}
    100%{
        background-position: left top;
}
}

.picture img {
    display: block;
    width: 200px;
    margin: auto;
    border-radius: 50%;
}
.sm{
    margin-top: 15px;
}
.sm :hover{
    color: #fe793d;
}
.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #fe793d;
    border: 2px solid #fe793d;
    margin-top: 16px;
    transition: .3s linear;
}
.contact-btn:hover{
    background: #fe793d;
    color: beige;
}